<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<th:block th:fragment="footerFragment">
<!--<div class="container-fluid">
    <div class="row">
        <div class="col">
                <div class="col-lg-50">
                    <div class="footer">
                        <p>2024 © 네오 디시젼스(Neo Decisions)</p>
                    </div>
                </div>
        </div>
    </div>
</div>-->

    <!--js-->
    <script src="/assets/sein.js"></script>

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!--아이콘-->
    <script src="https://kit.fontawesome.com/77f56f6c86.js" crossorigin="anonymous"></script>
</th:block>
</html>
