<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="" lang="kr">
<th:block th:fragment="headerFragment">

    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!--캘린더만 로드됨-->
    <script src="/assets/calendar.js"></script>
    <!--css-->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/sein.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">

</th:block>
</html>
