<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="" lang="kr">
<th:block th:fragment="headerFragment">

    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta charset="UTF-8">
    <!--css-->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/sein.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <!--js-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/assets/sein.js"></script>
    <!--아이콘-->
    <script src="https://kit.fontawesome.com/77f56f6c86.js" crossorigin="anonymous"></script>
    <title></title>
</th:block>
</html>
