<!DOCTYPE html>
<html lang="kr">
<head>
    <!-- 화면 해상도에 따라 글자 크기 대응(모바일 대응) -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta charset='utf-8'>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/js/fullcalendar/dist/index.global.min.js"></script>
    <script src="/js/fullcalendar/packages/core/locales-all.global.min.js"></script>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/sein.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <title>캘린더</title>
</head>
<body>
<nav class="sticky-top navbar navbar-expand-xl navbar-dark bg-info">
    <div class="icon-container ml-5">
        <i class="fa-solid fa-naira-sign fa-2xl" style="color: #005eff;"></i><i class="fa-solid fa-e fa-xl" style="color: #005eff;"></i><i class="fa-solid fa-o fa-xl" style="color: #005eff;"></i>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="container">
            <ul class="navbar-nav ml-auto py-3">
                <li class="nav-item active mr-1">
                    <a class="nav-link" href="#"><i class="fa-solid fa-pen"></i>업무 일지 작성 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item mr-1">
                    <a class="nav-link disabled" href="#"><i class="fa-solid fa-check"></i>업무 일지 리스트</a>
                </li>

                <li class="nav-item active mr-1">
                    <a class="nav-link" href="#"><i class="fa-regular fa-calendar-plus"></i>근태 내역 및 달력</a>
                </li>

                <li class="nav-item dropdown active ml-5">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-user"></i>관리자
                    </a>
                    <div class="dropdown-menu">

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">로그아웃</a>
                    </div>
                </li>
            </ul>
        </div>
    </div><!--container-->
</nav><!--navbar-->
<!-- 근태현황 테이블,뱃지,calendar -->
<div class="container-fluid" id="status">
    <div class="row">
        <div class="col-lg-3 col-md-5 col-sm-3 col-xs-1 badges">
           <div class="row">
               <div class="col badges">
                    <span class="badge badge-pill badge-success text-dark">정상출근</span>
                    <span class="badge badge-pill badge-warning">정상퇴근</span>
                    <span class="badge badge-pill badge-danger text-dark">지각</span>
                   <span class="badge badge-pill badge-primary text-dark">조퇴</span>
               </div>
           </div>
            <div class="row">
                <div class="col">
                    <div class="card attendance ">
                        <div class="card-title">
                            <h4>이달 근태현황</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th class="header">
                                            #
                                        </th>
                                        <th class="data">
                                            출근상태
                                        </th>
                                        <th class="duration">
                                            일수
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="header">
                                            1
                                        </td>
                                        <td class="data">
                                            총 출근일수
                                        </td>
                                        <td class="duration">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="header">
                                            2
                                        </td>
                                        <td class="data">
                                            <span class="table-badge badge-pill badge-success text-dark"> 정상출근</span>
                                        </td>
                                        <td class="duration">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="header">
                                            3
                                        </td>
                                        <td class="data">
                                            <span class="table-badge badge-pill badge-warning">정상퇴근</span>
                                        </td>
                                        <td class="duration">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="header">
                                            4
                                        </td>
                                        <td class="data">
                                            <span class="table-badge badge-pill badge-danger text-dark">지각</span>
                                        </td>
                                        <td class="duration">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="header">
                                            5
                                        </td>
                                        <td class="data">
                                            <span class="table-badge badge-pill badge-primary text-dark">조퇴</span>
                                        </td>
                                        <td class="duration">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div><!--card-->
                </div><!--col-->
            </div><!--row-->
        </div><!--col-->
            <div class="col mr-3" id='calendar-container'>
                <div id='calendar'></div>
            </div>
    </div><!--row-->
</div><!--container-->
<script src="/assets/calendar.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/assets/sein.js"></script>

<script src="https://kit.fontawesome.com/77f56f6c86.js" crossorigin="anonymous"></script>
</body>
</html>
