<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout" lang="kr">
<th:block layout:fragment="content">
<!-- 근태현황 테이블,뱃지,calendar -->
<div class="container-fluid" id="status">
    <div class="row">
        <div class="col-lg-3 col-md-5 col-sm-3 col-xs-1 badges">
           <div class="row">
               <div class="col badges">
                    <span class="badge badge-pill badge-success text-dark">정상출근</span>
                    <span class="badge badge-pill badge-warning">정상퇴근</span>
                    <span class="badge badge-pill badge-danger text-dark">지각</span>
                   <span class="badge badge-pill badge-primary text-dark">조퇴</span>
               </div>
           </div>
            <div class="row">
                <div class="col">
                    <div class="card attendance ">
                        <div class="card-title">
                            <h4>이달 근태현황</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th class="header">
                                            #
                                        </th>
                                        <th class="data">
                                            출근상태
                                        </th>
                                        <th class="duration">
                                            일수
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="header">
                                            1
                                        </td>
                                        <td class="data">
                                            총 출근일수
                                        </td>
                                        <td class="duration">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="header">
                                            2
                                        </td>
                                        <td class="data">
                                            <span class="table-badge badge-pill badge-success text-dark"> 정상출근</span>
                                        </td>
                                        <td class="duration">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="header">
                                            3
                                        </td>
                                        <td class="data">
                                            <span class="table-badge badge-pill badge-warning">정상퇴근</span>
                                        </td>
                                        <td class="duration">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="header">
                                            4
                                        </td>
                                        <td class="data">
                                            <span class="table-badge badge-pill badge-danger text-dark">지각</span>
                                        </td>
                                        <td class="duration">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="header">
                                            5
                                        </td>
                                        <td class="data">
                                            <span class="table-badge badge-pill badge-primary text-dark">조퇴</span>
                                        </td>
                                        <td class="duration">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div><!--table-->
                        </div><!--card-bady-->
                    </div><!--card-->
                </div><!--col-->
            </div><!--row-->
        </div><!--col-->
            <div class="col mr-3" id='calendar-container'>
                <div id='calendar'></div>
            </div>
    </div><!--row-->
</div><!--container-->
</th:block>
</html>
