#specific-page-body {
    overflow-x: hidden;
    overflow-y: hidden;
}

/*로그인*/
.login-content{
    margin: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.login-form{
    background: #ffffff;
    padding: 30px 30px 20px;
    border-radius: 10px;
    margin-top: 35px;
    width: 100%; /* 폼이 화면 너비를 차지하도록 설정 */

}

.login-logo{
    text-align: center;
    margin-bottom: 15px;
}

/*로그인 카카오톡 ,네이버 버튼*/
.social-login-content {
    margin: 0 -30px;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    padding: 30px 0;
    background: #fcfcfc;
}

.social-button {
    padding: 0 30px;
}

.social-button a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav-css{
    position: fixed;
    top: 30px;
    right: 50px;
}

.icon-container {
    position: fixed;
    top: 30px;
    left: 10px;
}

.hidden {
    display: none;
}

/* +,-버튼 */
.time-button-container {
    display: flex;
    align-items: center;
}

.first-card,
.second-card {
    height: 100%;
}
.time-button {
    width: 28px;
    height: 30px;
    font-size: 15px;
    margin-right: 5px;
}

/*달력*/
#calendars {
    max-width: 1100px;
    margin: auto auto auto -3px;
    display: flex;
    justify-content: center;
}

/* 캘린더 컨테이너 스타일 */
#calendar-container {
    width: 100%;
    margin: auto 31px auto 15px;
    padding-top: 20px;
    box-sizing: border-box;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
    justify-content: center;
}

@media screen and (max-width: 767px) and (max-height: 850px) {
    #calendar-container {
        padding-top: 96px;
    }
}
.fc-day-sun a {
    color: red;
}

/* 토요일 날짜: 파란색 */
.fc-day-sat a {
    color: blue;
}

/* 캘린더 위의 해더 스타일(날짜가 있는 부분) */
.fc-header-toolbar {
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

/*뱃지*/
.badges{
    display: flex;
    flex-direction: row;
    right: -256px;
    align-items: center;
}

.badge{
    width: 150px; /* 너비 설정 */
    line-height: 27px; /* 높이 설정 */
    margin-right: 17px;
}

/*근태현황 테이블 */
.attendance{
    width: 100%;
    display: flex;
    top: 218px;
    height: 0;
    justify-content: center;
    align-items: center;
}

.table{
    border-collapse: collapse!important;
    overflow-y: hidden;
}

.table td,
.table th {
    background-color: #fff!important;
    border: 2px solid #000000;
    padding: 0 55px 2px 38px;
   text-align: center;
}

.table th.header,
td.header{
    width: 19%;
}

.table th.data,
td.data{
    width: 50%;
    white-space: nowrap;
}

.table th.duration,
td.duration{
    width: 34%;
    white-space: nowrap;
}

.table-badge {
    width: 210px;
    line-height: 35px;
}

@media (max-width: 575px) {
    .mt-md-3 {
        margin-top: 0 !important;
    }
}
