<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout" lang="kr">
<th:block layout:fragment="content">
   <!-- 전에 edit page
   <div class="container-fluid py-4">
        <div class="row">
            <div class="col-lg-12">
                <div class="card shadow-lg" id="firstCard">
                    <div class="card-body">
                        <div class="card shadow my-4" id="secondCard">
                            <div class="card-body">
                                <form id="workHistoryForm" action="/saveEdit" method="post" >
                                    <div class="row my-2 mt-3">
                                        <div class="col-6">
                                            <div class="card shadow py-2" id="thirdCard">
                                                <div class="card-body">
                                                    <h3>업무일지 작성</h3>
                                                    <div class="form-group row hidden">
                                                        <div class="col-4">
                                                            <input type="text" class="form-control" id="management" name="management" required readonly th:value="${result['관리ID']}">                                                                            </div>
                                                        <label class="col-xs-1 col-form-label" for="userId" id="userIdLabel">사용자ID <span class="text-danger">*</span></label>
                                                        <div class="col-lg-8" id="userIdContainer">
                                                            <div class="row">
                                                                <div class="col-4">
                                                                    <input type="text" class="form-control" id="userId" name="userId" required value="001" readonly >
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row py-5 mt-2 mr-5">
                                                        <div class="col-lg-10">
                                                            <div class="row">
                                                                <div class="col-3">
                                                                    &lt;!&ndash; 왼쪽 반을 나타내는 부분 &ndash;&gt;
                                                                    <label class="col col-form-label ml-2 mr-5" for="date">작성 날짜 <span class="text-danger">*</span></label>
                                                                </div>
                                                                <div class="col-6 col-md-8 col-sm-10">
                                                                    &lt;!&ndash; 왼쪽 반을 나타내는 부분 &ndash;&gt;
                                                                    <input type="date" class="form-control w-50 mr-2" id="date" name="date" required onchange="loadDataForSelectedDate(this.value)"
                                                                           th:value="${edit.formattedDate}" th:attr="data-formatted-date=${edit.formattedDate}">
                                                                </div>
                                                            </div>&lt;!&ndash;row&ndash;&gt;
                                                        </div>&lt;!&ndash;col&ndash;&gt;
                                                    </div>&lt;!&ndash;form&ndash;&gt;
                                                    <div class="form-group row align-items-center mt-2 mr-2">
                                                        <label class="col-form-label col-2 ml-4" for="timepicker">출근시간 <span class="text-danger">*</span></label>
                                                        <div class="col-2">
                                                            <input type="text" class="form-control mr-4" id="timepicker" name="startTime" required value="09:00" th:value="${result['출근시간']}">
                                                        </div>
                                                        <div class="col-lg-auto">
                                                            <button class="btn btn-primary mr-2" type="button" id="normalWorkButton">정상 출근</button>
                                                        </div>
                                                        <label class="col-form-label col-lg-2" for="lateTime">지각 시간</label>
                                                        <div class="col-lg-2 row mr-1">
                                                            <input type="text" class="form-control" id="lateTime" name="lateTime" value="0" min="0" oninput="addManualInputToStartTime(this.value);" th:value="${result['지각시간']}">
                                                        </div>
                                                        <div class="time-button-container">
                                                            <button class="btn btn-outline-secondary btn-block btn-sm time-button" type="button" id="increaseBtn">+</button>
                                                            <button class="btn btn-outline-secondary btn-block btn-sm time-button mb-2" type="button" id="decreaseBtn">-</button>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row align-items-center mr-2 my-5 py-5">
                                                        <label class="col-form-label col-2 ml-4" for="timepickerEndTime" >퇴근시간 <span class="text-danger">*</span></label>
                                                        <div class="col-2">
                                                            <input type="text" class="form-control mr-4" id="timepickerEndTime" name="endTime" required value="18:00" th:value="${result['퇴근시간']}">
                                                        </div>
                                                        <div class="col-lg-auto">
                                                            <button class="btn btn-primary mr-2" type="button" id="leaveWorkButton">정상 퇴근</button>
                                                        </div>
                                                        <label class="col-form-label col-lg-2" for="earlyLeaveTime">조퇴 시간 </label>
                                                        <div class="col-lg-2 row mr-1">
                                                            <input type="text" class="form-control" id="earlyLeaveTime" name="earlyLeaveTime" value="0" min="0" oninput="addManualInputToEndTime(this.value);" th:value="${result['조퇴시간']}">
                                                        </div>
                                                        <div class="time-button-container">
                                                            <button class="btn btn-outline-secondary btn-block btn-sm time-button" type="button" id="increaseEarlyLeaveBtn">+</button>
                                                            <button class="btn btn-outline-secondary btn-block btn-sm time-button mb-2" type="button" id="decreaseEarlyLeaveBtn">-</button>
                                                        </div>
                                                    </div>
                                                    <div class="row my-5">
                                                        <div class="col col-lg-6 col-md-4 my-3" id="four">
                                                            <div class="card shadow">
                                                                <div class="card-body">
                                                                    <div class="form-validation">
                                                                        <h3>당일 처리 항목</h3><br>
                                                                    </div>
                                                                    <div id="todayItemContainer">
                                                                        <div class="form-group">
                                                                            <label for="dailyItemCount">처리개수<br></label>
                                                                            <div class="number-box" id="dailyItemCount"></div>
                                                                        </div>
                                                                        <div class="form-group mt-5">
                                                                            <label for="dailyDuration">소요시간합계</label>
                                                                            <div class="number-box" id="dailyDuration"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-6 my-3" id="four2">
                                                            <div class="card shadow">
                                                                <div class="card-body">
                                                                    <div class="form-validation">
                                                                        <h3>오늘 작업</h3><br>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="todayItemCount">처리 개수</label>
                                                                        <div class="number-box" id="todayItemCount"></div>
                                                                    </div>
                                                                    <div class="form-group mt-5 py-3">
                                                                        <label for="dailyDuration"></label>
                                                                        <div class="number-box"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>&lt;!&ndash;row&ndash;&gt;
                                                </div>&lt;!&ndash;card-body&ndash;&gt;
                                            </div>&lt;!&ndash;card&ndash;&gt;
                                        </div>&lt;!&ndash;col업무 작성 왼쪽 카드&ndash;&gt;
                                        <div class="col-6">
                                            <div class="card shadow" id="thirdCard2">
                                                <div class="card-body mx-2">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-validation">
                                                                <h5>업무내용<span class="text-danger">*</span></h5>
                                                            </div>
                                                            <div id="smarteditor">
                                                                <label for="editorTxt"></label>
                                                                <textarea name="editorTxt" id="editorTxt"
                                                                          rows="5" cols="5"
                                                                          placeholder="내용을 입력해주세요"
                                                                          style="max-width:750px;width: 100%; margin-bottom: 2px" required th:text="${result['비고']}"></textarea>
                                                            </div>


                                                            <div class="form-validation">
                                                                <br>
                                                                <h5>요청사항</h5>
                                                            </div>
                                                            <div class="request-section">
                                                                <label for="request"></label>
                                                                <textarea id="request"
                                                                          name="request" rows="5"
                                                                          cols="20" style="width:100%; box-sizing:border-box;" th:text="${result['요청사항']}"></textarea>
                                                            </div>
                                                        </div>&lt;!&ndash;col&ndash;&gt;
                                                    </div>&lt;!&ndash;row&ndash;&gt;
                                                    <div class="row" >
                                                        <div class="col" >
                                                            <div class="form-validation">
                                                                <br>
                                                                <h5>긴급요청건</h5>
                                                            </div>
                                                            <div class="request-section mb-3">
                                                                <label for="urgentRequest"></label>
                                                                <textarea id="urgentRequest"
                                                                          name="urgentRequest" rows="5"
                                                                          cols="20" style="width:100%; box-sizing:border-box;" th:text="${result['긴급요청건']}"></textarea>
                                                            </div>
                                                            <div class="text-right my-5">
                                                                <button type="submit" class="btn btn-primary" id="saveButton"
                                                                >저장하기
                                                                </button>
                                                                <button type="button" class="btn btn-primary" id="cancelButton"
                                                                >취소하기
                                                                </button>
                                                            </div>
                                                        </div>&lt;!&ndash;col&ndash;&gt;
                                                    </div>&lt;!&ndash;row&ndash;&gt;
                                                </div>&lt;!&ndash;cardbody&ndash;&gt;
                                            </div>&lt;!&ndash;card 스마트에디터 오른쪽 카드&ndash;&gt;
                                        </div>&lt;!&ndash;col&ndash;&gt;
                                    </div>&lt;!&ndash;row&ndash;&gt;
                                </form>
                            </div>&lt;!&ndash;card-body&ndash;&gt;
                        </div>&lt;!&ndash;card (두번째 카드&ndash;&gt;
                    </div>&lt;!&ndash;card-body&ndash;&gt;
                </div>&lt;!&ndash;card (전체 감싸는 카드&ndash;&gt;
            </div>&lt;!&ndash;col&ndash;&gt;
        </div>&lt;!&ndash;row&ndash;&gt;
    </div>&lt;!&ndash;container&ndash;&gt;
    &lt;!&ndash; <script>
         document.getElementById("cancelButton").addEventListener("click", function() {
             var isConfirmed = confirm("데이터가 저장되지 않았습니다. 정말로 취소하시겠습니까?");

             if (isConfirmed) {
                 document.getElementById("workHistoryForm").reset();
             } else {

             }
         });
         document.getElementById("saveButton").addEventListener("click", function (event) {

             var isConfirmed2 = confirm("데이터를 저장하시겠습니까?");

             // 업무내용 검사
             var businessContent = document.getElementById("editorTxt").value.trim();
             if (businessContent === "") {
                 alert("업무내용을 입력하세요.");
                 event.preventDefault(); // 저장하기 동작을 막음
             } else if (isConfirmed2) {
                 // 요청 성공 시 응답을 처리합니다.
                 window.location.href = '/calender';
                 alert('근무 기록이 성공적으로 저장되었습니다.');
             }
         });
     </script>&ndash;&gt;
    &lt;!&ndash; 출근시간 &ndash;&gt;
    <script>
        $('#timepicker').timepicker({
            timeFormat: 'HH:mm',
            interval: 60,
            dynamic: false,
            dropdown: true,
            scrollbar: true
        });

        var startTimeInput = $("#timepicker");
        var lateTimeInput = $("#lateTime");

        function addOrSubtractMinutes(time, minutes) {
            time.minutes += minutes;
            time.hours += Math.floor(time.minutes / 60);
            time.minutes %= 60;
            return time;
        }

        function parseTime(timeString) {
            var parts = timeString.split(":");
            return { hours: parseInt(parts[0]), minutes: parseInt(parts[1]) };
        }

        function formatTime(time) {
            if (time && typeof time.hours !== 'undefined' && typeof time.minutes !== 'undefined') {
                return time.hours.toString().padStart(2, "0") + ":" + time.minutes.toString().padStart(2, "0");
            } else {
                // Handle the case when time is undefined or missing properties
                return "";
            }
        }

        $("#decreaseBtn").on("click", function () {
            var currentValue = parseInt(lateTimeInput.val()) || 0;
            if (currentValue > 0) {
                lateTimeInput.val(currentValue - 1);
                subtractMinutesFromStartTime(1);
            }
        });

        function subtractMinutesFromStartTime(minutes) {
            var startTime = parseTime(startTimeInput.val());
            startTime.minutes -= minutes;
            while (startTime.minutes < 0) {
                startTime.minutes += 60;
                startTime.hours -= 1;
            }
            while (startTime.hours < 0) {
                startTime.hours += 24;
            }
            startTimeInput.val(formatTime(startTime));
        }
    </script>
    &lt;!&ndash;지각시간&ndash;&gt;
    <script>
        $(document).ready(function () {
            $("#increaseBtn").on("click", function () {
                var currentLateTime = parseInt(lateTimeInput.val()) || 0;
                lateTimeInput.val(currentLateTime + 1);
                addManualInputToStartTime(1);
            });
        });

        function addManualInputToStartTime(manualInput) {
            var startTimeInput = $("#timepicker");
            var lateTimeInput = $("#lateTime");

            // 이전 지각시간을 저장하여 차이를 계산
            var previousLateTime = parseInt(lateTimeInput.data("previousLateTime")) || 0;

            // 출근시간 초기화
            var startTime = parseTime(startTimeInput.val());

            // 새로운 지각시간만 출근시간에 더하도록 수정
            var lateTime = parseInt(lateTimeInput.val()) || 0;
            lateTime = Math.sign(manualInput) * Math.abs(lateTime);

            // 이전 지각시간의 차이를 출근시간에서 빼줌
            startTime = addOrSubtractMinutes(startTime, -previousLateTime);

            // 새로운 지각시간을 출근시간에 더함
            startTime = addOrSubtractMinutes(startTime, lateTime);

            // 출근시간과 현재 지각시간을 업데이트
            startTimeInput.val(formatTime(startTime));
            lateTimeInput.data("previousLateTime", lateTime);
        }
    </script>

    &lt;!&ndash;퇴근시간&ndash;&gt;
    <script>
        // 변경된 ID를 사용
        $('#timepickerEndTime').timepicker({
            timeFormat: 'HH:mm',
            interval: 60,
            dynamic: false,
            dropdown: true,
            scrollbar: true
        });

        // 조퇴시간 입력 필드의 입력 이벤트
        var endTimeInput = $("#timepickerEndTime");
        var earlyLeaveTimeInput = $("#earlyLeaveTime");

        function addOrSubtractMinutess(time, minutes) {
            time.minutes += minutes;
            time.hours += Math.floor(time.minutes / 60);
            time.minutes %= 60;
            return time;
        }

        function parseTime(timeString) {
            var parts = timeString.split(":");
            return { hours: parseInt(parts[0]), minutes: parseInt(parts[1]) };
        }


        function formatTime(time) {
            if (time && typeof time.hours !== 'undefined' && typeof time.minutes !== 'undefined') {
                return time.hours.toString().padStart(2, "0") + ":" + time.minutes.toString().padStart(2, "0");
            } else {
                // Handle the case when time is undefined or missing properties
                console.error("Invalid time object:", time);
                return undefined;
            }
        }

        // - 버튼 클릭 시
        $("#decreaseEarlyLeaveBtn").on("click", function () {
            var currentValue = parseInt(earlyLeaveTimeInput.val());
            if (currentValue > 0) {
                earlyLeaveTimeInput.val(currentValue - 1);
                subtractMinutesFromEndTime(1); // 퇴근시간에서 분 빼기
            }
        });

        // 퇴근시간에서 분을 빼는 함수
        function subtractMinutesFromEndTime(minutes) {
            var endTime = parseTime(endTimeInput.val());
            endTime.minutes -= minutes;
            while (endTime.minutes < 0) {
                endTime.minutes += 60;
                endTime.hours -= 1;
            }
            while (endTime.hours < 0) {
                endTime.hours += 24;
            }
            endTimeInput.val(formatTime(endTime));
        }

    </script>

    &lt;!&ndash;조퇴시간&ndash;&gt;
    <script>
        $(document).ready(function () {

            // + 버튼 클릭 시
            $("#increaseEarlyLeaveBtn").on("click", function () {
                var currentValue = parseInt(earlyLeaveTimeInput.val());
                earlyLeaveTimeInput.val(currentValue + 1);
                addManualInputToEndTime(1); // 퇴근시간 업데이트

            });
        });
        function addManualInputToEndTime() {
            var endTimeInput = $("#timepickerEndTime");
            var earlyLeaveTimeInput = $("#earlyLeaveTime");

            // 데이터 속성에서 previousLateTime 가져오기
            var previousLateTime = parseInt(earlyLeaveTimeInput.data("previousLateTime")) || 0;

            // 현재 endTime을 구문 분석
            var endTime = parseTime(endTimeInput.val());

            // 퇴근시간 객체의 유효성 검사
            if (isNaN(endTime.hours) || isNaN(endTime.minutes)) {
                // 구문 분석된 시간이 잘못된 경우 처리
                console.error("잘못된 endTime 객체:", endTime);
                return;
            }

            // 퇴근시간 객체 처리
            var earlyLeaveTime = parseInt(earlyLeaveTimeInput.val()) || 0;

            // 조퇴시간 빼기
            endTime = addOrSubtractMinutess(endTime, -previousLateTime);

            // 새로운 조퇴시간 추가
            endTime = addOrSubtractMinutess(endTime, earlyLeaveTime);

            // 퇴근시간 업데이트 및 현재 조퇴시간 저장
            endTimeInput.val(formatTime(endTime));
            earlyLeaveTimeInput.data("previousLateTime", earlyLeaveTime);
        }
    </script>


    <script>

        function getToken() {
            const tokenCookie = document.cookie.split('; ').find(row => row.startsWith('token='));
            return tokenCookie ? tokenCookie.split('=')[1] : null;
        }

        document.addEventListener("DOMContentLoaded", function () {
            const today = new Date().toISOString().split('T')[0];
            fetchData(`/completed?inputDate=${today}`, 'todayItemContainer', updateViewWithData);
            fetchData(`/processing?inputDate=${today}`, 'todayItemContainer', updateViewWithData2);
        });

        function fetchData(apiEndpoint, targetElementId, additionalProcessing = null) {
            const token = getToken();

            $.ajax({
                url: apiEndpoint,
                type: 'GET',
                headers: {
                    'Accept': 'application/json',
                    'Authorization': `Bearer ${token}`
                },
                dataType: 'json',
                success: function (data) {
                    // 서버에서 받은 데이터를 뷰에 반영
                    console.log(data);
                    if (additionalProcessing) {
                        additionalProcessing(data);
                    }
                },
                error: function () {
                    // 에러 처리
                    console.error('Failed to fetch data for the selected date');
                }
            });
        }

        function updateViewWithData(data) {
            document.getElementById('dailyItemCount').innerText = data.처리개수;
            document.getElementById('dailyDuration').innerText = data.소요시간합계;
        }

        function updateViewWithData2(data) {
            document.getElementById('todayItemCount').innerText = data.처리개수;
        }

        // 완료처리리스트에 대한 HTML을 동적으로 생성하는 함수 예시
        function generateListHTML(completedList) {
            let listHTML = '<ul>';
            for (const item of completedList) {
                listHTML += `<li>${item}</li>`;
            }
            listHTML += '</ul>';
            return listHTML;
        }

        function loadDataForSelectedDate(selectedDate) {
            fetchData(`/completed?inputDate=${selectedDate}`, 'todayItemContainer', updateViewWithData);
            fetchData(`/processing?inputDate=${selectedDate}`, 'todayItemContainer', updateViewWithData2);
        }
        function onDateChange() {
            const selectedDateElement = document.getElementById('date');
            if (selectedDateElement) {
                const selectedDate = selectedDateElement.value;
                console.log('Selected Date:', selectedDate);
                if (selectedDate) {
                    loadDataForSelectedDate(selectedDate);
                } else {
                    console.error('Selected date is undefined or empty.');
                }
            } else {
                console.error('Date input element not found.');
            }
        }
    </script>


    <script>
        document.addEventListener("DOMContentLoaded", function () {

            const normalWorkButton = document.getElementById('normalWorkButton');
            const leaveWorkButton = document.getElementById('leaveWorkButton');
            const lateTimeInput = document.getElementById("lateTime");
            const earlyLeaveTime = document.getElementById("earlyLeaveTime");


            // normalWorkButton 클릭 시 alert만 표시
            normalWorkButton.addEventListener('click', function () {
                if (lateTimeInput.value !== '0') {
                    alert('지각시간이 입력되어 정상출근할 수 없습니다.');
                } else if (!normalWorkButton.classList.contains('active')) {
                    normalWorkButton.classList.add('active');
                    alert('정상출근 버튼이 클릭되었습니다.');
                    console.log('정상 출근 버튼이 클릭되었습니다.');
                    lateTimeInput.value = '0';
                } else {
                    alert('이미 정상출근으로 처리 되었습니다.');
                }
            });

            // 정상퇴근 버튼 클릭 시
            leaveWorkButton.addEventListener('click', function () {
                if (earlyLeaveTime.value !== '0') {
                    alert('조퇴시간이 입력되어 정상퇴근할 수 없습니다.');
                } else if (!leaveWorkButton.classList.contains('active')) {
                    leaveWorkButton.classList.add('active');
                    alert('정상퇴근 버튼이 클릭되었습니다.');
                    console.log('정상 퇴근 버튼이 클릭되었습니다.');
                    earlyLeaveTime.value = '0';

                    const sendData = {
                        "지각시간": lateTimeInput.value, // 지각시간 값 유지
                    }
                    // 정상출근이 true이고 정상퇴근이 false라면 조퇴의 값이 있는 경우에만 설정
                    if (normalWorkButton.classList.contains('active') && !leaveWorkButton.classList.contains('active')) {
                        sendData["조퇴시간"] = earlyLeaveTime.value;
                    } else {
                        sendData["조퇴시간"] = '0'; // 아니면 0으로 설정
                    }
                    // 여기에서 sendData를 서버로 전송하면 됩니다.
                    console.log('전송할 데이터:', sendData);
                } else {
                    alert('이미 정상퇴근으로 처리 되었습니다.');
                }
            });

        });

        const tokenCookie = document.cookie.split('; ').find(row => row.startsWith('token='));
        const token = tokenCookie ? tokenCookie.split('=')[1] : null;

        console.log('쿠키 전체 값:', document.cookie); // 쿠키 전체 값 확인
        console.log('토큰 쿠키 값:', token ? token : '쿠키가 없습니다.');

        document.addEventListener("DOMContentLoaded", function (lateTimeSelect) {
            document.getElementById('saveButton').addEventListener('click', function(event) {
                submitProcessForm(); // 이 부분에서 폼을 제출하도록 함수 호출
            });

            document.getElementById('workHistoryForm').addEventListener('submit', function (event) {
                event.preventDefault();
                submitProcessForm(); // 폼 제출 시 submitProcessForm 함수 호출
            });

            const fixedUserId = "001";
            async function submitProcessForm() {
                const fixedUserId = document.getElementById('userId').value;
                const date = document.getElementById('date').value;
                const startTime = document.getElementById('timepicker').value;
                const endTime = document.getElementById('timepickerEndTime').value;
                const lateTimeInput = document.getElementById('lateTime');
                const lateTimeValue = lateTimeInput.value.trim();
                const earlyLeaveTimeInput = document.getElementById('earlyLeaveTime');
                const earlyLeaveTimeValue = earlyLeaveTimeInput.value.trim();
                const request = document.getElementById('request').value;
                const urgentRequest = document.getElementById('urgentRequest').value;
                const management = document.getElementById('management').value;

                oEditors.getById["editorTxt"].exec("UPDATE_CONTENTS_FIELD", []);
                let content = oEditors.getById["editorTxt"].getIR();

                // 여기서 원하는 데이터를 생성합니다.
                const data = {
                    "사용자ID": fixedUserId,
                    "작성날짜": date,
                    "출근시간": startTime,
                    "퇴근시간": endTime,
                    "정상근태여부": document.getElementById('normalWorkButton').classList.contains('active'), // 정상출근 버튼이 active인지 확인하여 true/false 설정
                    "정상퇴근여부": document.getElementById('leaveWorkButton').classList.contains('active'), // 정상퇴근 버튼이 active인지 확인하여 true/false 설정
                    "지각시간": lateTimeValue,
                    "조퇴시간": earlyLeaveTimeValue,
                    "요청사항": request,
                    "긴급요청건": urgentRequest,
                    "비고":content,
                    "현재검수대기": 0,
                    "당일검수완료": 0,
                    "당일수리완료": 0,
                    "업무소요시간": 0,
                    "관리ID": management,
                };
                // 데이터 출력
                console.log('전송할 데이터:', data);
                console.log('사용하는 토큰 값:', token); // 토큰 값 확인
                try {
                    const response = await fetch('/saveEdit', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'Accept': 'application/json',
                            'Authorization': `Bearer ${token}`, // 토큰 추가
                        },
                        body: JSON.stringify(data),
                    });

                    if (response.ok) {
                        // 요청 성공 시 응답을 처리합니다.
                        console.log('근무 기록이 성공적으로 저장되었습니다.');
                        window.location.href = '/calendar';
                    } else {
                        // 요청 실패 시 오류를 처리합니다.
                        console.error('근무 기록을 저장하는 데 실패했습니다. 상태:', response.status);
                        const errorData = await response.json();
                        console.error('오류 세부 정보:', errorData);
                    }
                } catch (error) {
                    console.error('요청 중 오류가 발생했습니다:', error);
                }
            }
        });
    </script>
    <script src="/css/smarteditor/js/HuskyEZCreator.js" charset="utf-8"></script>-->
</th:block>
</html>